[package]
name = "rust"
version = "0.1.0"
edition = "2024"

[dependencies]
sqlx = { version = "0.7", features = ["runtime-tokio", "postgres", "macros", "uuid", "chrono"] }
tokio = { version = "1", features = ["full"] }
dotenv = "0.15"